@charset "UTF-8";

@font-face {
  font-family: "icons";
  font-display: swap;
  src: url("../fonts/icons.woff") format("woff"), url("../fonts/icons.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Roboto-Bold";
  font-display: swap;
  src: url("../fonts/RobotoSlab-Bold.woff") format("woff"), url("../fonts/RobotoSlab-Bold.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Roboto-Light";
  font-display: swap;
  src: url("../fonts/RobotoSlab-Light.woff") format("woff"), url("../fonts/RobotoSlab-Light.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Roboto-Thin";
  font-display: swap;
  src: url("../fonts/RobotoSlab-Thin.woff") format("woff"), url("../fonts/RobotoSlab-Thin.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Roboto-Regular";
  font-display: swap;
  src: url("../fonts/RobotoSlab-Regular.woff") format("woff"), url("../fonts/RobotoSlab-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "icons";
  font-display: swap;
  src: url("../fonts/icons.woff") format("woff"), url("../fonts/icons.woff2#icons") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^=_icon-]:before,
[class*=" _icon-"]:before {
  font-family: "icons";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^=_icon-]:before,
[class*=" _icon-"]:before {
  display: block;
}

._icon-colba:before {
  content: "";
  display: block;
  position: absolute;
  left: -40px;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  font-size: 24px;
  color: black;
}

._icon-calendar:before {
  content: "";
  display: block;
  position: absolute;
  left: -40px;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  font-size: 24px;
  color: black;
}

._icon-list:before {
  content: "";
  display: block;
  position: absolute;
  left: -40px;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  font-size: 24px;
  color: black;
}

._icon-clock:before {
  content: "";
  display: block;
  position: absolute;
  left: -40px;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  font-size: 24px;
  color: black;
}

._icon-map:before {
  content: "";
  display: block;
  position: absolute;
  left: -40px;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  font-size: 24px;
  color: black;
}

._icon-phone:before {
  content: "";
  display: block;
  position: absolute;
  left: -40px;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  font-size: 24px;
  color: black;
}

._icon-card:before {
  content: "";
  display: block;
  position: absolute;
  left: -40px;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  font-size: 24px;
  color: black;
}

._icon-rub:before {
  content: "";
  display: block;
  position: absolute;
  left: -40px;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  font-size: 24px;
  color: black;
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

aside,
nav,
footer,
header,
section {
  display: block;
}

html {
  font-size: 16px;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  line-height: 1;
  font-family: "Roboto-Regular";
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: "Roboto-Regular";
  font-size: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
  background-color: inherit;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

body {
  color: #009789;
}

body._lock {
  overflow: hidden;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

._container {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 15px;
}

.row:after {
  display: block;
  content: "";
  clear: both;
}

.rub:after {
  content: "₽";
}

ol.counter {
  list-style-type: none;
  counter-reset: item;
}

ol.counter li {
  position: relative;
  padding: 0px 0px 0px 45px;
}

ol.counter li:before {
  counter-increment: item;
  content: counter(item);
  position: absolute;
  left: 0;
  top: 0;
  color: #818181;
  font-size: 14px;
  font-weight: 700;
  text-align: center;
  line-height: 26px;
  border-radius: 50%;
  width: 28px;
  height: 28px;
  border: 1px solid #4274bb;
}

.ellipsis {
  display: block;
  overflow: hidden;
  width: 100%;
  white-space: nowrap;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
}

.es {
  overflow: hidden;
  white-space: nowrap;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
}

.table {
  display: table;
  font-size: 0;
  width: 100%;
}

.trow {
  display: table-row;
}

.cell {
  display: table-cell;
}

.cell.full {
  width: 100%;
}

._ibg {
  position: relative;
}

._ibg img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

body.ie ._ibg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

body.ie ._ibg img {
  width: 0;
  height: 0;
  opacity: 0;
  visibility: hidden;
}

._video {
  position: relative;
  overflow: hidden;
  height: 0;
  padding-bottom: 56.25%;
}

._video video,
._video iframe,
._video object,
._video embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.videobg video,
.videobg iframe,
.videobg object,
.videobg embed {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  -webkit-transform: translateX(-50%) translateY(-50%);
      -ms-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  background-size: cover;
}

._more-content {
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  overflow: hidden;
}

._more-link {
  cursor: pointer;
}

._more-link span {
  font-style: normal;
}

._more-link span:first-child {
  display: block;
}

._more-link span:last-child {
  display: none;
}

._more-link._active span {
  font-style: normal;
}

._more-link._active span:first-child {
  display: none;
}

._more-link._active span:last-child {
  display: block;
}

#map {
  background: url("../img/icons/loading.gif") center/50px no-repeat;
}

._swiper {
  overflow: hidden;
}

._swiper .swiper-wrapper {
  width: 100%;
  height: 100%;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

._swiper.swiper-container-vertical .swiper-wrapper {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

._swiper.swiper-container-autoheight .swiper-wrapper {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.swiper-container-initialized .swiper-slide {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.swiper-container-android .swiper-slide,
.swiper-container-android .swiper-wrapper {
  -webkit-transform: translate3d(0px, 0, 0);
          transform: translate3d(0px, 0, 0);
}

.swiper-button-lock {
  display: none !important;
}

._tabs-block {
  display: none;
}

._tabs-block._active {
  display: block;
}

.mirror {
  -webkit-transform: scale(-1, 1);
      -ms-transform: scale(-1, 1);
          transform: scale(-1, 1);
}

.nicescroll-rails {
  z-index: 1000 !important;
}

._custom-scroll {
  position: fixed;
  right: 0;
  top: 0;
  width: 3px;
  height: 100%;
  z-index: 1000;
}

._custom-scroll__line {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 3px 0 0 3px;
  position: relative;
  left: 0;
  top: 0;
  width: 100%;
}

.priceBlock {
  padding: 2.5rem 0;
  line-height: 130%;
  color: #000;
  /* .priceBlock__content */
  /* .priceBlock__title */
  /* .priceBlock__body */
  /* .priceBlock__item */
  /* .priceBlock__item-price */
  /* .priceBlock__item-property */
  /* .priceBlock__item-value */
}

.priceBlock__title {
  font-family: "Roboto-Bold";
  -moz-text-align-last: left;
       text-align-last: left;
  font-size: 20px;
  margin-bottom: 0.625rem;
}

.priceBlock__body {
  padding: 1.25rem 0 1.25rem 2.8125rem;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.priceBlock__body::after {
  content: "";
  height: 0.125rem;
  width: 100%;
  display: block;
  position: absolute;
  left: 50%;
  top: 0;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  background: #009789;
}

.priceBlock__body::before {
  content: "";
  height: 0.125rem;
  width: 100%;
  display: block;
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  background: #009789;
}

.priceBlock__item {
  padding: 0.625rem 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr;
  -ms-grid-columns: 1fr 1.25rem 1fr;
      grid-template: 1fr/1fr 1fr;
  width: 100%;
  font-size: 16px;
  gap: 1.25rem;
}

.priceBlock__item-price {
  color: #009789;
  font-family: "Roboto-Bold";
  font-size: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.priceBlock__item-price span:last-child {
  font-size: 14px;
  font-family: "Roboto-Light";
}

.priceBlock__item-property {
  position: relative;
  -ms-flex-item-align: start;
      align-self: flex-start;
  font-family: "Roboto-Bold";
}

.priceBlock__item-value {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.phoneBlock {
  color: #000;
  line-height: 130%;
  /* .phoneBlock__content */
  /* .phoneBlock__body */
  /* .phoneBlock__title */
  /* .phoneBlock__phone */
  /* .phoneBlock__map */
  /* .phoneBlock__calendar */
}

.phoneBlock__body {
  border: 2px solid #009789;
  border-radius: 10px;
  padding: 20px 60px;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr;
  -ms-grid-columns: 1fr 20px 1fr;
      grid-template: 1fr/1fr 1fr;
  gap: 20px;
}

.phoneBlock__title {
  margin: 0 0 0 40px;
  color: #ed1c24;
  font-family: "Roboto-Bold";
  font-size: 20px;
  line-height: 130%;
}

.phoneBlock__phone {
  position: relative;
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin: 0 0 0 40px;
  color: #5b1ced;
  font-family: "Roboto-Bold";
  font-size: 20px;
  line-height: 130%;
}

.phoneBlock__map {
  position: relative;
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin: 0 0 0 40px;
  font-size: 16px;
}

.phoneBlock__calendar {
  position: relative;
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin: 0 0 0 40px;
  font-size: 16px;
}

.spollersBlock {
  padding: 2.5rem 0;
  line-height: 130%;
  color: #000;
  /* .spollersBlock__content */
  /* .spollersBlock__wrapper */
  /* .spollersBlock__item */
  /* .spollersBlock__title */
  /* .spollersBlock__body */
}

.spollersBlock__item {
  padding: 1.25rem 0;
  border-bottom: 1px solid #949393;
}

.spollersBlock__title {
  color: #525252;
  position: relative;
  padding: 0 3.75rem 0 0;
  font-family: "Roboto-Bold";
  font-size: 18px;
}

.spollersBlock__title:after {
  content: "";
  position: absolute;
  display: block;
  background-color: #009789;
  height: 1.25rem;
  width: 0.125rem;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 1.1875rem;
  z-index: 9;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.spollersBlock__title:before {
  content: "";
  position: absolute;
  display: block;
  background-color: #009789;
  width: 1.25rem;
  height: 0.125rem;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 0.625rem;
  z-index: 9;
}

.spollersBlock__title._active:after {
  -webkit-transform: translateY(-50%) rotate(90deg);
      -ms-transform: translateY(-50%) rotate(90deg);
          transform: translateY(-50%) rotate(90deg);
}

.spollersBlock__body {
  font-size: 16px;
  padding: 1.25rem 3.75rem 0 0;
}

.page {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

@media (max-width: 1182px) {
  ._container {
    max-width: 970px;
  }
}

@media (max-width: 1170px) {
  .priceBlock__title {
    font-size: calc(16px + 4 * ((100vw - 320px) / 850));
  }

  .priceBlock__item {
    font-size: calc(12px + 4 * ((100vw - 320px) / 850));
  }

  .priceBlock__item-price {
    font-size: calc(14px + 4 * ((100vw - 320px) / 850));
  }

  .priceBlock__item-price span:last-child {
    font-size: calc(10px + 4 * ((100vw - 320px) / 850));
  }

  .phoneBlock__title {
    font-size: calc(16px + 4 * ((100vw - 320px) / 850));
  }

  .phoneBlock__phone {
    font-size: calc(16px + 4 * ((100vw - 320px) / 850));
  }

  .phoneBlock__map {
    font-size: calc(12px + 4 * ((100vw - 320px) / 850));
  }

  .phoneBlock__calendar {
    font-size: calc(12px + 4 * ((100vw - 320px) / 850));
  }

  .spollersBlock__title {
    font-size: calc(14px + 4 * ((100vw - 320px) / 850));
  }

  .spollersBlock__body {
    font-size: calc(12px + 4 * ((100vw - 320px) / 850));
  }
}

@media (max-width: 991.98px) {
  ._container {
    max-width: 750px;
  }

  .phoneBlock__body {
    padding: 20px 40px;
  }
}

@media (max-width: 767.98px) {
  ._container {
    max-width: none;
  }

  .phoneBlock__body {
    padding: 20px 30px;
    -ms-grid-rows: 1fr;
    -ms-grid-columns: 1fr;
        grid-template: 1fr/1fr;
  }

  .phoneBlock__title {
    margin: 0 0 0 10px;
  }

  .spollersBlock {
    padding: 1.25rem 0;
  }
}

@media (max-width: 479.98px) {
  .priceBlock {
    padding: 1.25rem 0;
  }

  .priceBlock__body {
    padding: 1.25rem 0 1.25rem 2.4rem;
  }

  .phoneBlock__body {
    padding: 10px 20px;
  }
}